<div class="row">
        <div class="col-xs-12">
          <form>
            <div class="row">
              <div class="col-xs-5 form-group">
                <label>Name</label>
                <input 
                  type="text" 
                  id="name"
                  class="form-control"
                  name = "name"
                  ng-model="$ctrl.ingredientToEdit.name" 
                  >
              </div> 
              <div class="col-xs-2 form-group">
                <label>Amount</label>
                <input 
                  type="number" 
                  id="amount" 
                  class="form-control"
                  name = "amount"
                  ng-model="$ctrl.ingredientToEdit.amount"
                  >
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success" ng-click="$ctrl.onSubmit()">{{ $ctrl.showUpdateButtons ? 'Update' : 'Add'}} </button>
                <button ng-if="$ctrl.showUpdateButtons" type="button" class="btn btn-danger" ng-click= "$ctrl.onDelete()">Delete </button>
                <button type="button" class="btn btn-primary" ng-click= "$ctrl.onClear()">Clear </button>
              </div>
            </div>
          </form>
        </div>
      </div>    