<div class="row">
        <div class="col-md-10">           
            <shopping-edit
                ingredienttoedit="$ctrl.ingredientToEdit"
                on-update="$ctrl.onUpdateIngredient($event);">
            </shopping-edit>
            <hr>
            <ul class = "list-group">
              <a class = "list-group-item" 
                 style="cursor: pointer;"
                 ng-repeat = " ingredient in $ctrl.ingredients"
                 ng-click = "$ctrl.onEditItem(ingredient)">
                    {{ingredient.name}} ({{ingredient.amount}})
                </a>
            </ul>
          </div>
        </div>